<a href="https://colab.research.google.com/github/YaminikrishnaT/pythoncodes/blob/master/lists_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print('''get
a job
now''')
a=1;b=2;c=3 #semicolon should be used to assign multiple statements
print(a,b,c)
a=1+2j
b=2+3j
c=a*b
print(c)

get
a job
now
1 2 3
(-4+7j)

In [0]:
def double(num):
    """Function to double the value"""
    return 2*num
f=double(895)
print(f)
print(double.__doc__)

1790
Function to double the value

In [0]:
x = (1 == True)
y = (1 == False)
a = True + 4
b = False + 10

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is True
y is False
a: 5
b: 10

In [0]:
#There are four different literal collections List literals, Tuple literals, Dict literals, and Set literals.
fruits = ["apple", "mango", "orange"] #list have square brackets
numbers = (1, 2, 3) #tuple has round brackets
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary has curly brackets with key pair generation
vowels = {'a', 'e', 'i' , 'o', 'u'} #set has curly brackets

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'e', 'a', 'o', 'i', 'u'}

In [0]:
a=1
for i in range(1,10):
    j=1
    while(j<=i) :
        if(j<i):
            print(a,sep="\n",end=" ")
            a += 1
            j += 1
        else:
            print(a)
            a += 1
            j += 1

2 4 5 7 8 9 11 12 13 14 16 17 18 19 20 22 23 24 25 26 27 29 30 31 32 33 34 35 37 38 39 40 41 42 43 44

In [0]:
a=1
for i in range(1,6):
    j=5
    while(j>=i) :
        if(j>i):
            print(a,sep="\n",end="\t")
            a += 1
            j -= 1
        else:
            print(a)
            a += 1
            j -= 1
            
num=5      
for i in range(1,num):
    for j in range(1,num):
      print("_",sep="\n",end=" ")
    print(i,sep="\n",end=" ")
    for k in range(1,num):
      print("_",sep="\n",end=" ")
    print('\n')
    num -= 1

1	2	3	4	5
6	7	8	9
10	11	12
13	14
15
_ _ _ _ 1 _ _ _ _

_ _ _ 2 _ _ _

_ _ 3 _ _

_ 4 _

In [0]:
a=int(input())

for i in range(1,a+1):
    if (i>1):
      print(a,sep="\n",end=" ")
      pass
    if (i==2 or i==3 or i==5):
      print('number is prime')
    elif (i%2==0) or (i%3==0) or (i%5==0):
      print('number is multiple of two')
    else :
      print('number is a prime')

3
number is a prime
3 number is prime
3 number is prime

In [0]:
num = int(input())

# take input from the user
# num = int(input("Enter a number: "))

# prime numbers are greater than 1
if (num > 1):
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
       else:
           print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

99
99 is a prime number
99 is not a prime number
3 times 33 is 99