<a href="https://colab.research.google.com/github/YaminikrishnaT/pythoncodes/blob/master/set_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#set
s={1,2,3,4,5,6,7,3,4,6}#unordered,does not allow duplicates
#cannot call empty curly brackets for sets,should declare atleast a value
#an empty curly braces indicates dictionary
print(s)
s={}
print('empty braces',type(s))
#dir(s)
s1={1,2,3,4,5,12}
s2={2,3,6,7}
#add(to add a single value),update(to add multiple elements)
s2.add(5)
print(s2)
s2.update({1,2,3,4,8,9})
print(s2)
print(s1.union(s2),s1|s2)
#sets cannot have nested sets
#difference as in  sets venn diagram concepts
print("s1-s2",s1.difference(s2),s1-s2)
print("s2-s1",s2.difference(s1),s2-s1)
print("s1 & s2",s1.intersection(s2),s1&s2)
print(s2.intersection(s1))
s1.intersection_update(s2)
print(s1,s2)
s1.difference_update(s2)
print(s1,s2)
s1.update({1,2,3,4,5,12,14})
print(s1,s2)
print("s1 ^ s2",s1.symmetric_difference(s2),s1 ^s2)
s1.symmetric_difference_update(s2)
print(s1,s2)
s1.pop()#removes first element in the set
print(s1)
s2.remove(5)#removes the value "5" in the set
print(s2)
s2.discard(2)#removes the value in the 2nd position of the set
print(s2)

{1, 2, 3, 4, 5, 6, 7}
empty braces <class 'dict'>
{2, 3, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 12} {1, 2, 3, 4, 5, 6, 7, 8, 9, 12}
s1-s2 {12} {12}
s2-s1 {8, 9, 6, 7} {8, 9, 6, 7}
s1 & s2 {1, 2, 3, 4, 5} {1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5} {1, 2, 3, 4, 5, 6, 7, 8, 9}
set() {1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 12, 14} {1, 2, 3, 4, 5, 6, 7, 8, 9}
s1 ^ s2 {6, 7, 8, 9, 12, 14} {6, 7, 8, 9, 12, 14}
{6, 7, 8, 9, 12, 14} {1, 2, 3, 4, 5, 6, 7, 8, 9}
{7, 8, 9, 12, 14}
{1, 2, 3, 4, 6, 7, 8, 9}
{1, 3, 4, 6, 7, 8, 9}

In [0]:
s1={"a","b","c","d","e"}
print("a" in s1,"f" not in s1)

True True

In [0]:
#iteration with a set
for fruit in {"mango","grape","watermelon"}:
  print(fruit,sep="\n",end=" ")
  print(len(fruit))
  print(max(fruit),min(fruit))

mango 5
o a
grape 5
r a
watermelon 10
w a

In [0]:
#fibonacci sequence
a=1;b=0;num=int(input())
for i in range(1,num+1):
    c=a+b
    print(c,sep="\n",end=" ")
    a=b
    b=c

52
1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099

In [0]:
#password verification using sets
s_prev_pass=frozenset(["Feb10","Mar10","APr10"])
print(s_prev_pass)
count=0;num_pwd=0
while(count==0):
    print("please enter new password")
    s_curr_pass=input()
    if(s_curr_pass in s_prev_pass):
        print("Password invalid.please enter new password")
        num_pwd += 1
        print("Incorrect attempt:",num_pwd)
        if(num_pwd>2):
            print("password change limit exceeded")
            count += 1
    else:
        print("password changed successfully")
        count += 1
        curr_pwd_upd=set(s_prev_pass)
        print(curr_pwd_upd)
        curr_pwd_upd.pop()
        print(curr_pwd_upd)
        curr_pwd_upd.add(s_curr_pass)
        print(curr_pwd_upd)
        s_prev_pass=frozenset(curr_pwd_upd)
        print(s_prev_pass)
        s_prev_pass.add("a")

frozenset({'APr10', 'Feb10', 'Mar10'})
please enter new password
ndjfh93248
password changed successfully
{'APr10', 'Feb10', 'Mar10'}
{'Feb10', 'Mar10'}
{'Feb10', 'Mar10', 'ndjfh93248'}
frozenset({'Feb10', 'Mar10', 'ndjfh93248'})

AttributeError: ignored